.register, .login {
    margin: auto;
    width: 50%;
    border: 2px solid lightblue;
    padding: 20px;
    margin-top: 50px;
}

.submit-button {
    background-color: #6FB0CE !important;
    color: white !important;
    font-size: 16px !important;
    margin: auto !important;
    text-align: center !important;
    height: 40px;
    width: 50%;
    display: flex !important;
    justify-content: center !important;
}