/* BUTTONS */

.submit-button {
    background-color: #6FB0CE !important;
    color: white !important;
    font-size: 16px !important;
    margin: auto !important;
    text-align: center !important;
    height: 40px;
    width: 50%;
    display: flex !important;
    justify-content: center !important;
}

.accept-delete-or-update {
    background-color: #6FB0CE !important;
    color: white !important;
    font-size: 16px !important;
    height: 40px;
}

.reset {
    background-color: #C2BDB8 !important;
    color: white !important;
    font-size: 16px !important;
    height: 40px;
}

.cancel-delete {
    color: white !important;
    font-size: 16px !important;
    height: 40px;
}

.cancel-button {
    font-size: 16px !important;
    margin: auto !important;
    text-align: center !important;
    height: 40px;
    width: 50%;
    display: flex !important;
    justify-content: center !important;
}

/* LOGIN/REGISTER */

.register, .login {
    margin: auto;
    width: 50%;
    border: 2px solid #6FB0CE;
    padding: 20px;
    margin-top: 50px;
}

.line {
    background-color: transparent !important;
    border: solid 1px transparent !important;
    display: flex;
    justify-content: center;
}

.message {
    background-color: transparent !important;
    border: solid 1px transparent !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px !important;
}

.link, .link:hover {
    font-weight: bold;
    color: #6FB0CE;
    text-decoration: none;
    background-color: transparent !important;
    padding-top: 0;
    padding-bottom: 0;
    border: solid 1px transparent !important;
    margin-left: 7px !important;
}

/* PROFILE */

.usernameBox {
    background-color: #506A5F !important;
    color: white !important;
}

/* NAVBAR */

.stickyMenu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navMenu {
    display: block;
    margin-bottom: 10%;
}

/* BIRDIDEX */

.birdydex {
    display: flex;
    justify-content: center;
}

.bird-card {
    border: solid 1px #6FB0CE !important;
}

.more-info {
    background-color: #6FB0CE !important;
    color: white !important;
    font-size: 16px !important;
    margin: auto !important;
    text-align: center !important;
    height: 40px;
    display: flex !important;
    justify-content: center !important;
}

.bird-image {
    width: 400px;
}

.bird-map {
    margin: 10px;
}

.thumbnail {
    width: 220px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* HOMEPAGE */

.home, .headers, .header, .sub-header, h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    color: white;
}

.para {
    margin-top: 150px !important;
    margin-left: 7%;
    margin-right: 7%;
    padding: 2% 5% !important;
    font-size: 18px;
    color: white;
}

.about {
    position: fixed;
    top: 650px;
    left: 1200px;
    width: 240px;
    height: 90px;
    padding: 20px;
    color: #fff;
}

.background {
    background: url(../Images/heron-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* .home {
    margin-top: -90px !important;
    padding-top: 20px;
    height: 100%;
} */

/* SEARCH */

.search {
    margin-top: 150px;
}

/* FONTS */

h2 {
    margin-top: 10px;
}